/*Variables*/
/* HELPERS */
.title {
  display: flex;
  text-align: center;
  background-color: #000000;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center; }

.body__content {
  justify-content: center;
  text-align: center;
  margin-bottom: 10px; }
  .body__content .slogan {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    max-height: fit-content;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-width: 1rem;
    border-color: #000000;
    background-color: #000000;
    background-size: cover;
    font-size: medium; }
  .body__content .us {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #000000;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    max-height: fit-content;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1rem;
    border-color: #000000;
    background-color: #000000;
    background-size: cover; }

.body__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 30px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center; }
  .body__main .body__main-1 {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-width: 10px;
    border-color: #000000; }
  .body__main .body__main-2 {
    display: grid;
    grid-row: 1;
    grid-column: 2;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-width: 10px;
    border-color: #000000; }
  .body__main .body__main-3 {
    display: grid;
    grid-row: 1;
    grid-column: 3;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-width: 10px;
    border-color: #000000; }
  .body__main a:hover {
    color: #0008f9;
    transition-duration: 0.3s;
    transform: scale(1.2); }
  .body__main img:hover {
    color: #0008f9;
    transition-duration: 0.3s;
    transform: scale(1.1); }

.form__1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  max-height: fit-content;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2rem;
  gap: 4px;
  border-color: #000000;
  background-color: #000000;
  background-size: cover; }

/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Globals*/
html {
  display: grid;
  grid-template-areas: "header" "title" "slogan" "main-1 main-2 main-3" "footer";
  font-family: "Architects Daughter"; }

body {
  background-image: url(../image/cat-dog-face.jpg) !important;
  height: 86.7vh; }

h1 {
  color: #f0ffff; }

h2 {
  color: #f0ffff;
  font-size: medium; }

p {
  color: #f0ffff;
  font-size: medium; }

.navbtn {
  padding: 6px 12px;
  background: none;
  color: #000000;
  cursor: pointer;
  transition-duration: 0.3s; }
  .navbtn:hover {
    box-shadow: 0 0 0 5px transparent, 0 0 0 0 #000000;
    transform: scale(1.2);
    color: #000000; }

@media screen and (max-width: 768px) and (orientation: portrait) {
  html,
  body {
    height: 100%; }
  .title {
    font-size: 85%;
    padding-left: 5px;
    padding-right: 5px;
    text-justify: auto; }
  .body__content {
    display: flex;
    flex-direction: column;
    font-family: "Architects Daughter"; }
    .body__content .us {
      font-size: 85%; }
  .form__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1rem;
    gap: 4px;
    border-color: #000000;
    background-color: #000000;
    background-size: cover; }
  .body__main {
    display: flex;
    flex-direction: column;
    font-family: "Architects Daughter";
    margin-bottom: 15vh; }
  .header1 {
    margin-top: 0%;
    max-height: 20vh; }
    .header1 .navbar1 {
      background-size: 30%;
      gap: 5px;
      font-size: 85%;
      padding-left: 0%;
      padding-right: 0%;
      margin-top: 20px;
      margin-bottom: 20px; }
      .header1 .navbar1 .navbar__menu {
        display: flex;
        height: 1vh;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
        letter-spacing: 1px;
        color: #000000;
        background-color: #bcc7c7;
        background-size: cover;
        gap: 5px;
        padding: 10px;
        border-radius: 2px;
        margin: 1px;
        padding: 1px; }
        .header1 .navbar1 .navbar__menu:hover {
          color: #0008f9; }
        .header1 .navbar1 .navbar__menu.active {
          color: #0008f9; }
  .slogan {
    font-size: 85%;
    max-height: 60%; }
  @keyframes example {
    from {
      background-position-x: right; }
    to {
      background-position-x: left; } }
  body {
    animation-name: example;
    animation-delay: 0s;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate; } }

@media only screen and (orientation: landscape) {
  .form__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    border-style: solid;
    gap: 4px;
    border-color: #000000;
    background-color: #000000;
    background-size: cover;
    margin: auto; }
  .body__main {
    display: flex;
    flex-direction: row;
    font-family: "Architects Daughter";
    justify-content: center;
    padding-bottom: 20vh;
    margin-bottom: auto; }
  @keyframes example {
    from {
      background-position-x: right; }
    to {
      background-position-x: left; } }
  body {
    animation-name: example;
    animation-delay: 0s;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate; } }

@keyframes example {
  from {
    background-position-x: right; }
  to {
    background-position-x: left; } }

body {
  animation-name: example;
  animation-delay: 0s;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.header1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px; }
  .header1 .navbar1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    margin-top: 5vh;
    margin-bottom: 5vh; }
    .header1 .navbar1 .header1,
    .header1 .navbar1 li {
      list-style: none; }
    .header1 .navbar1 .navbar__menu {
      display: flex;
      height: 5vh;
      align-items: center;
      text-align: center;
      justify-content: center;
      justify-items: center;
      letter-spacing: 3px;
      color: #000000;
      background-color: #bcc7c7;
      background-size: auto;
      gap: 5px;
      padding: 10px;
      border-radius: 1rem; }
      .header1 .navbar1 .navbar__menu:hover {
        color: #0008f9; }
      .header1 .navbar1 .navbar__menu.active {
        color: #0008f9; }

footer {
  position: fixed;
  bottom: 0%;
  width: 100%; }
