/*Variables*/
/* HELPERS */
.title {
  display: flex;
  text-align: center;
  background-color: #000000;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center; }

.container {
  justify-content: center;
  text-align: center; }
  .container .slogan {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    max-height: fit-content;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-width: 1rem;
    border-color: #000000;
    background-color: #000000;
    background-size: cover; }
  .container .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    max-height: fit-content;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1rem;
    border-color: #000000;
    background-color: #000000;
    background-size: cover; }
  .container .us {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #000000;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    max-height: fit-content;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1rem;
    border-color: #000000;
    background-color: #000000;
    background-size: cover; }

/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Globals*/
html {
  display: grid;
  max-height: 200vh;
  grid-template-areas: "header" "title" "slogan" "main-1 main-2 main-3" "footer";
  font-family: "Architects Daughter", cursive;
  background-image: url(../image/cat-dog-face.jpg); }

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 30px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh; }
  .main .main-1 {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-width: 10px;
    border-color: #000000; }
  .main .main-2 {
    display: grid;
    grid-row: 1;
    grid-column: 2;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-width: 10px;
    border-color: #000000; }
  .main .main-3 {
    display: grid;
    grid-row: 1;
    grid-column: 3;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-width: 10px;
    border-color: #000000; }
  .main a:hover {
    color: #cfe600;
    transition-duration: 0.3s;
    transform: scale(1.2); }
  .main img:hover {
    color: #cfe600;
    transition-duration: 0.3s;
    transform: scale(1.1); }

h1 {
  color: #f0ffff; }

h2 {
  color: #f0ffff;
  font-size: medium; }

p {
  color: #f0ffff;
  font-size: medium; }

.btn {
  padding: 6px 12px;
  background: none;
  color: #000000;
  cursor: pointer;
  transition-duration: 0.3s; }
  .btn:hover {
    box-shadow: 0 0 0 5px transparent, 0 0 0 0 #000000;
    transform: scale(1.2);
    color: #000000; }

@media screen and (max-width: 766px) {
  .html {
    max-height: 200vh; }
  .main {
    display: flex;
    flex-direction: column;
    font-family: "Architects Daughter", cursive; }
  .navbar {
    background-size: 50%;
    gap: 5px;
    font-size: 70%; }
  .title {
    font-size: 70%;
    padding-left: 5px;
    padding-right: 5px;
    text-justify: auto; }
  .slogan {
    font-size: 70%; }
  .us {
    font-size: 70%; } }

@keyframes example {
  from {
    background-position-x: right; }
  to {
    background-position-x: left; } }

html {
  animation-name: example;
  animation-delay: 0s;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px; }
  header .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    margin-top: 5vh;
    margin-bottom: 5vh; }
    header .navbar .navbar__menu {
      display: flex;
      height: 5vh;
      align-items: center;
      text-align: center;
      justify-content: center;
      justify-items: center;
      letter-spacing: 3px;
      color: #000000;
      background-color: #bcc7c7;
      background-size: auto;
      gap: 5px;
      padding: 10px;
      border-radius: 1rem; }
      header .navbar .navbar__menu:hover {
        color: #cfe600; }
      header .navbar .navbar__menu.active {
        color: #f9f100; }

.footer {
  display: grid;
  background-color: #000000;
  text-align: center;
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0%; }
