/* HELPERS */

.title {
    display: flex;
    text-align: center;
    background-color: $principal;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
}

.body__content {

    justify-content: center;
    text-align: center;

    .slogan {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        text-align: center;
        border-style: solid;
        border-color: $principal;
        max-height: fit-content;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        border-width: 1rem;
        border-color: $principal;
        background-color: $principal;
        background-size: cover;
        font-size: medium;
    }

    .form__1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        align-items: center;
        max-height: fit-content;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-width: 2rem;
        gap: 4px;
        border-color: $principal;
        background-color: $principal;
        background-size: cover;
    }

    .us {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        background-color: $principal;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        max-height: fit-content;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-width: 1rem;
        border-color: $principal;
        background-color: $principal;
        background-size: cover;
    }
}

// Mixins

@mixin letra ($font-size) {
    font-size: 85%;
}