/* HELPERS */

.title {
    display: flex;
    text-align: center;
    background-color: $principal;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
}

.body__content {

    justify-content: center;
    text-align: center;
    margin-bottom: 10px;

    .slogan {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        text-align: center;
        border-style: solid;
        border-color: $principal;
        max-height: fit-content;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        border-width: 1rem;
        border-color: $principal;
        background-color: $principal;
        background-size: cover;
        font-size: medium;
    }

    .us {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        background-color: $principal;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        max-height: fit-content;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-width: 1rem;
        border-color: $principal;
        background-color: $principal;
        background-size: cover;
    }
}

.body__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 30px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;

    .body__main-1 {
        display: grid;
        grid-row: 1;
        grid-column: 1;
        justify-content: center;
        justify-items: center;
        text-align: center;
        align-items: center;
        border-style: solid;
        border-width: map-get($map:$spacings, $key:medium);
        border-color: $principal;
    }

    .body__main-2 {
        display: grid;
        grid-row: 1;
        grid-column: 2;
        justify-content: center;
        justify-items: center;
        text-align: center;
        align-items: center;
        border-style: solid;
        border-width: map-get($map:$spacings, $key:medium);
        border-color: $principal;
    }

    .body__main-3 {
        display: grid;
        grid-row: 1;
        grid-column: 3;
        justify-content: center;
        justify-items: center;
        text-align: center;
        align-items: center;
        border-style: solid;
        border-width: map-get($map:$spacings, $key:medium);
        border-color: $principal;
    }

    a:hover {
        color: $tertiary;
        transition-duration: 0.3s;
        transform: scale(1.2);
    }

    img:hover {
        color: $tertiary;
        transition-duration: 0.3s;
        transform: scale(1.1);
    }
}

.form__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    max-height: fit-content;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2rem;
    gap: 4px;
    border-color: $principal;
    background-color: $principal;
    background-size: cover;
}

// Mixins

@mixin letra ($font-size) {
    font-size: 85%;
}