/*Normalize*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Globals*/

html {
    display: grid;
    max-height: 200vh;
    grid-template-areas:
        "header"
        "title"
        "slogan"
        "main-1 main-2 main-3"
        "footer";
    font-family: $font-primary;
    background-image: url(../image/cat-dog-face.jpg);
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 30px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;

    .main-1 {
        display: grid;
        grid-row: 1;
        grid-column: 1;
        justify-content: center;
        justify-items: center;
        text-align: center;
        align-items: center;
        border-style: solid;
        border-width: map-get($map:$spacings, $key:medium );
        border-color: $principal;
    }

    .main-2 {
        display: grid;
        grid-row: 1;
        grid-column: 2;
        justify-content: center;
        justify-items: center;
        text-align: center;
        align-items: center;
        border-style: solid;
        border-width: map-get($map:$spacings, $key:medium );
        border-color: $principal;
    }

    .main-3 {
        display: grid;
        grid-row: 1;
        grid-column: 3;
        justify-content: center;
        justify-items: center;
        text-align: center;
        align-items: center;
        border-style: solid;
        border-width: map-get($map:$spacings, $key:medium );;
        border-color: $principal;
    }

    a:hover {
        color: $tertiary;
        transition-duration: 0.3s;
        transform: scale(1.2);
    }

    img:hover {
        color: $tertiary;
        transition-duration: 0.3s;
        transform: scale(1.1);
    }
}

h1 {
    color: $quaternary;
}

h2 {
    color: $quaternary;
    font-size: medium;
}

p   {
    color: $quaternary;
    font-size: medium;
}

.btn {
    padding: 6px 12px;
    background: none;
    color: $principal;
    cursor: pointer;
    transition-duration: 0.3s;
    &:hover  {
        box-shadow:  0 0 0 5px transparent,0 0 0 0 $principal;
        transform: scale(1.2);
        color: $principal;
    }
}

// Media

@media screen and (max-width: 766px) {
    
    .html   {
        max-height: 200vh;
    }
    
    .main  {
        display: flex;
        flex-direction: column;
        font-family: $font-primary;
    }

    .navbar   {
        background-size: 50%;
        gap: map-get($map:$spacings, $key:small );
        @include letra (80%);
    }
    
    .title {
        @include letra (80%);
        padding-left: map-get($map:$spacings, $key:small );
        padding-right: map-get($map:$spacings, $key:small );
        text-justify: auto;
    }

    .slogan {
        @include letra (80%);
    }

    .us  {
        @include letra (80%);
    }
}

// keyframes

@keyframes example {
    from {background-position-x: right;}
    to {background-position-x: left;}
    }

    html  {
    animation-name: example;
    animation-delay: 0s;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    }