/*Variables*/

$principal: #000000;
$secondary: #bcc7c7;
$tertiary: #0008f9;
$quaternary: #f0ffff;
$active: #0008f9;
$font-primary: "Architects Daughter";
$clr-primary-hover: #cfe600;

// Spacings

$spacings:   (
    small: 5px,
    medium: 10px,
    large: 20px,
);