/*Variables*/

$principal: #000000;
$secondary: #bcc7c7;
$tertiary: #cfe600;
$quaternary: #f0ffff;
$active: #f9f100;
$font-primary: "Architects Daughter", cursive;
$clr-primary-hover: #cfe600;

// Spacings

$spacings:   (
    small: 5px,
    medium: 10px,
    large: 20px,
);