.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $principal;
    height: 7vh;
    width: 100%;
    position: absolute;
    flex-direction: row;
    bottom: 0%;

}
